# Import Libraries

In [1]:
import requests
import pandas as pd
import time 
from dotenv import load_dotenv
import os

import warnings
warnings.filterwarnings("ignore")

# Setup environment: Store & Call API_KEY

**Remember: this is personal, sensitive information. Therefor, keep you API key safe!**

- How to hide you API key:
    - Go to tutorial [Soma, Jonathan. Hide API keys in Python scripts using python-dotenv, .env, and .gitignore, youtube.com](https://www.youtube.com/watch?v=YdgIWTYQ69A)
    - Or go to [README](xxx) file on this repo for a quick setup

In [2]:
# Get dotenv environment
load_dotenv() # We'll get environment variables in the .env file to use when called 

# Call API key
API_KEY = os.getenv("API_KEY") # I stored key in the .env as API_KEY=xxxxxx
CHANNEL_ID = "UC176GAQozKKjhz62H8u9vQQ"

# Set pageToken & url
pageToken = ""
url = "https://www.googleapis.com/youtube/v3/search?key=" + API_KEY + "&channelId=" + CHANNEL_ID + "&part=snippet,id&order=date&maxResults=1000" + pageToken

# Making API call

In [3]:
# Make API call & store the data in json form in the "response" object
response = requests.get(url).json()

In [4]:
# Take a look at the json object to navigate the data we need
# response

# Let's look at the first video
response['items'][0]

{'kind': 'youtube#searchResult',
 'etag': 'xptPehm0NA3uRhDdtZIXTk1k_1k',
 'id': {'kind': 'youtube#video', 'videoId': 'K_MvDo7spEs'},
 'snippet': {'publishedAt': '2023-06-24T13:30:14Z',
  'channelId': 'UC176GAQozKKjhz62H8u9vQQ',
  'title': 'When Your Eyes Can’t See, but Your Brain is Still Watching',
  'description': 'Be one of the first 200 people to sign up with this link and get 20% off your subscription with Brilliant.org!',
  'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/K_MvDo7spEs/default.jpg',
    'width': 120,
    'height': 90},
   'medium': {'url': 'https://i.ytimg.com/vi/K_MvDo7spEs/mqdefault.jpg',
    'width': 320,
    'height': 180},
   'high': {'url': 'https://i.ytimg.com/vi/K_MvDo7spEs/hqdefault.jpg',
    'width': 480,
    'height': 360}},
  'channelTitle': 'Real Science',
  'liveBroadcastContent': 'none',
  'publishTime': '2023-06-24T13:30:14Z'}}

- Inside the array, inside the key 'items' we can get

    - videoId
    - title
    - description (but we will not collect this one)
    - publish date

# Navigate through json object to get the data

In [15]:
# For example, check video_id of the first video
video_id = response['items'][0]['id']['videoId']

# Check title of the first video
video_title = response['items'][0]['snippet']['title'].replace("&amp;", "")

# Check publish date
publish_date = response['items'][0]['snippet']['publishTime'].split("T")[0]

print("video_id: ", video_id)
print("video_title: ", video_title)
print("publish_date: ", publish_date)

SyntaxError: invalid syntax (1328927087.py, line 5)

# Collecting view, like, comment counts

In [6]:
# Create a second url call for stats (like, comment counts)
url_video_stats = "https://www.googleapis.com/youtube/v3/videos?id=" + video_id + "&part=statistics&key=" + API_KEY
response_video_stats = requests.get(url_video_stats).json()

# Note that we need 'video_id' for this (calling stats for each video)

In [7]:
response_video_stats

{'kind': 'youtube#videoListResponse',
 'etag': 'ysIj4nsZyWdgKaco7j_ygPi9zrI',
 'items': [{'kind': 'youtube#video',
   'etag': 'cH8EV1nZDo2dyteg3NnNnifIjBI',
   'id': 'K_MvDo7spEs',
   'statistics': {'viewCount': '104651',
    'likeCount': '6099',
    'favoriteCount': '0',
    'commentCount': '294'}}],
 'pageInfo': {'totalResults': 1, 'resultsPerPage': 1}}

Inside this json object, inside key 'statistics' we can get
- viewCount
- likeCount
- favoriteCount
- commentCount

In [8]:
# Let's look at view count
view_count = response_video_stats['items'][0]['statistics']['viewCount']

# Check like count
like_count = response_video_stats['items'][0]['statistics']['likeCount']

# Check favorite count
favorite_count = response_video_stats['items'][0]['statistics']['favoriteCount']

# Check comment count
comment_count = response_video_stats['items'][0]['statistics']['commentCount']

print("view_count: ", view_count)
print("like_count: ", like_count)
print("favorite_count: ", favorite_count)
print("comment_count: ", comment_count)

view_count:  104651
like_count:  6099
favorite_count:  0
comment_count:  294

# Collect data on multiple videos & store in pandas dataframe

In [19]:
# Create an empty dataframe
df = pd.DataFrame(columns = ['video_id', 'video_title', 'publish_date', 
                             'view_count', 'like_count', 'favorite_count', 'comment_count'])
df

Empty DataFrame
Columns: [video_id, video_title, publish_date, view_count, like_count, favorite_count, comment_count]
Index: []

In [20]:
for video in response['items']:
    # Specify that we want to pick only the youtube video (not ads)
    
    string_replacement = {"&amp;": "", "&#39;": "'", "of:": "of"}
    if video['id']['kind'] == "youtube#video":  
        video_id = video['id']['videoId']
        video_title = video['snippet']['title']
        publish_date = video['snippet']['publishTime'].split("T")[0]
        
        # replace some unwanted strings in the video_title
        for k, v in string_replacement.items():
            video_title = video_title.replace(k, v)
            
        
        # Make API call for stats or each video_id that it loops through
        url_video_stats = "https://www.googleapis.com/youtube/v3/videos?id=" + video_id + "&part=statistics&key=" + API_KEY
        response_video_stats = requests.get(url_video_stats).json()
        
        view_count = response_video_stats['items'][0]['statistics']['viewCount']
        like_count = response_video_stats['items'][0]['statistics']['likeCount']
        favorite_count = response_video_stats['items'][0]['statistics']['favoriteCount']
        comment_count = response_video_stats['items'][0]['statistics']['commentCount']

          
        df = df.append({'video_id': video_id, 
                        'video_title': video_title,
                        'publish_date': publish_date,
                        'view_count': view_count,
                        'like_count': like_count,
                        'comment_count': comment_count}, ignore_index=True)
        
        time.sleep(3)

In [21]:
df

,video_id,video_title,publish_date,view_count,like_count,favorite_count,comment_count
0,K_MvDo7spEs,"When Your Eyes Can’t See, but Your Brain is St...",2023-06-24,104658,6099,NaN,299
1,oJIvn18SSfc,Why Animals Get Creepier the Deeper You Go,2023-06-10,825520,27069,NaN,1100
2,MQ8JC1d_wgY,The Insane Biology of The Mantis Shrimp,2023-05-27,478738,14423,NaN,696
3,nPOQQp8CCls,The Insane Biology of Slime Mold,2023-05-13,464956,18147,NaN,831
4,7JgaXMcNTJ8,The Secrets of the Oldest Footprints Ever Found,2023-04-29,361488,14768,NaN,862
5,RwwgbVHE8Dk,The Insane Biology of Kangaroos,2023-04-15,407270,15223,NaN,1203
6,aBeK88m_T6w,The Assassin's Favorite Plant,2023-03-31,264944,10318,NaN,465
7,hph9OeKjg3w,Could Chat GPT Talk to Whales?,2023-03-18,964201,31047,NaN,2755
8,LXnCCq6dkm8,The Insane Biology of The Gorilla,2023-02-28,726808,22991,NaN,1425
9,8WaIycNrQMs,The Insane Evolution of Hibernation,2023-02-18,587196,18532,NaN,701
10,ES5_nqeThR4,Nature's Most Surprising Projectiles,2023-01-28,308558,9659,NaN,248
11,cI6aFO8svqA,The Insane Biology of Humans,2023-01-14,1579583,76462,NaN,4949
12,gSJIAnAAFlQ,How Life Survives Inside Underwater Volcanoes,2022-12-23,390598,12737,NaN,355
13,KWBxFkrlGfs,Why Whale Vomit Is So Expensive,2022-12-19,117235,7770,NaN,186
14,Hve8_iSDD-o,The Insane Biology of The Sperm Whale,2022-12-10,2089904,43610,NaN,2009
15,jJdLiKYKWzY,Why Is (Almost) All Bioluminescence in the Ocean?,2022-11-26,778828,13945,NaN,564
16,BTRUqdH8IqQ,The Insane Biology of Sloths,2022-11-12,928700,31099,NaN,1207
17,NZaZAH2WHAY,The Insane Evolution of Flight,2022-10-29,461622,17254,NaN,1341
18,witZPajdzRo,The Weirdest Parasite on Earth,2022-10-15,384726,11480,NaN,515
19,m7oWvPXz-9c,The Insane Biology of The Seahorse,2022-09-24,1061159,28115,NaN,873
20,91Qo6wzU7F8,Do Monkeys Have a Moral Compass?,2022-08-28,550787,20110,NaN,2039
21,gx2l5cu5NmM,The Problem Dogs Solved That We Couldn't,2022-08-21,563032,18048,NaN,1045
22,vsQYI5Ajwp4,The Insane Biology of The Electric Eel,2022-07-30,784435,26467,NaN,845
23,uYR4ZMlLUwI,Why Do Deep Sea Creatures Evolve Into Giants?,2022-07-16,6482175,150861,NaN,4239
24,Y43QAqfTIcM,Why This Is the Deadliest Venom in the World,2022-06-25,2299712,32712,NaN,1849
25,4DkMVCzvgRg,How Pigeons Always Find Their Way Home,2022-06-12,340702,10969,NaN,526
26,7aWL2iEb6y4,Why Crows Are as Smart as 7 Year Old Humans,2022-05-31,3355200,107762,NaN,7049
27,DSLQYTt8BjA,The Incredible Way This Jellyfish Goes Back in...,2022-05-21,824706,27410,NaN,976
28,R1HAEGyk4Co,The Insane Biology of The Harpy Eagle,2022-04-30,1741263,43564,NaN,1776
29,Lk8KG1T-HZ8,The Problem with Deep Space Travel,2022-04-09,774473,21233,NaN,1380
30,u1l4aXh1UG8,How We Accidentally Started Making Infinite Ro...,2022-03-19,1098988,38200,NaN,4425
31,tuX5vgH-Rdo,Australia's Most Destructive Creature,2022-02-19,1356722,21880,NaN,2390
32,CAUOhG_c4Go,The Insane Biology of The Venus Flytrap,2022-01-29,751012,21598,NaN,1013
33,TbvWnJh9e-g,Why Spider Silk is Stronger Than Steel,2022-01-15,3761098,69834,NaN,3197
34,GimCcrwYxdE,The Insane Biology of The Orca,2021-12-18,4923476,122717,NaN,6906
35,DmanbWwMa5w,The Truth About Lab-Grown Meat,2021-11-27,285897,11963,NaN,1997
36,q4fXD1mw_ic,Why Evolution Has Screwed Sea Turtles (And So ...,2021-11-13,268030,11104,NaN,638
37,jM5jf-8ekVA,Could the Cordyceps Fungus Really Take Over?,2021-10-30,3872200,100153,NaN,7397
38,bFkIG9S2Mmg,The Insane Biology of The Axolotl,2021-10-16,2685223,66185,NaN,2175
39,NDnQ4pAjBUg,The Power of Bee Democracy,2021-09-18,372838,14724,NaN,780
40,iJi61NAIsjs,The Insane Biology of The Dragonfly,2021-08-28,4400447,122025,NaN,7958
41,L7kClV8j7-k,Why Hybrid Animals May Take Over the North,2021-07-24,3059179,51029,NaN,5729
42,JG-VUOM03jU,Why Evolution Hasn't Gotten Rid of Allergies,2021-07-10,540677,26683,NaN,1642
43,Wh2du5SOjmY,The Insane Biology of The Platypus,2021-06-26,1942438,33946,NaN,1533
44,9HiADisBfQ0,The Secret Language of Trees,2021-06-12,1432240,49943,NaN,2981
45,LlKueC2XNzs,Why British People Can't Donate Blood in America,2021-05-15,735027,21829,NaN,2800
46,lgTbQlfOSKE,The Insane Biology of Hammerhead Sharks,2021-05-01,4374535,120202,NaN,4967

#### Note:
See clean code in the youtube_api.py inside this repo

## Further study:

- [YouTube API to fetch all videos on a channel](https://stackoverflow.com/questions/18953499/youtube-api-to-fetch-all-videos-on-a-channel)